{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

        <div class="container">        
            <h2>Dashboard</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Date of birth</th>
              </tr>
            </thead>
            <tbody>
               
            <tr>
                   <td>{{ request.user.username|title }}</td>
                   <td> {{request.user.email|title}}</td>
                   <td>{{ request.user.profile.roles }}</td>
                   <td>{{ request.user.profile.date_of_birth }}</td>
             
                  </tr>
               
            </tbody>
          </table>
        </div>


   
    
{% endblock %}