{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}


<!-- 
 {% if request.user.profile.roles == "Owner" %}
<a href="/">Home</a>
<br>
<a href="/board">Dashboard</a>
<br>
<a href="/renter/list">Renter List</a>
<br>
<a href="/add/property/">Create Properity</a>
<br>
<a href="/property/list/">Properity List</a>
<br>
<a href="/change-password/">Change password</a>
<br>
<a href="/login/">logout</a>
{% endif %}    
    
 {% if request.user.profile.roles == "Renter" %}
<a href="/">Home</a>
<br>
<a href="/board">Dashboard</a>
<br>
<a href="/property/list/">Properity List</a>
<br>
<a href="/change-password/">Change password</a>
<br>
<a href="/login/">logout</a>
{% endif %}    

    
 -->

{% endblock %}