<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
PROPERTY
<br>
<br>
<br>
<a href="/">Home</a>
<br>
<a href="/board">Dashboard</a>
<br>
<a href="/renter/list">Renter List</a>
<br>
<a href="/add/property/">Create Properity</a>
<br>
<a href="/property/list/">Properity List</a>
<br>
<a href="/change-password/">Change password</a>
<br>
<a href="/login/">logout</a>
    
    

    
<!-- {% if request.user.profile.roles %}
 <h5>Renter</h5>
 
        Username      : {{ request.user.username }}<br>
        Email         : {{request.user.email}}<br>   
        Role          : {{ request.user.profile.roles }}<br>
        Date of birth : {{ request.user.profile.date_of_birth }}<br>

{% endif %}
        -->
</body>
</html>