{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

Bethany is a stylish and unique free bootstrap template for modern web designers. It comes with clean and flat style, it fitted to you who like minimal and modern design. This free bootstrap website template is used for creative agency, portfolio, photography and corporate business.

It goods HTML and CSS-based design template for buttons, forms, typography, navigation and other interface components, as well as alternate JavaScript extensions.

This template is coded with Bootstrap framework, CSS3, HTML5 and based on jQuery technology. It is very easy to customize and use in your project according to your needs. Bethany is fully responsive and compatible with all major browsers, devices and screen sizes. We hope it will save your time and gives trendy look to your next web project.

{% endblock %}