{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

    
        <div class="container">        
            <h2>Renter List</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Renter Name</th>
                <th>Email</th>
                <th>DOB</th>
                <th>Contact Number</th>
              </tr>
            </thead>
            <tbody>
                {% for renter in renters_list %}
            <tr>
                   <td>{{renter.user.username|title}}</td>
                   <td>{{renter.user.email}}</td>
                   <td>{{renter.date_of_birth}}</td>
                   <td>{{renter.phone}}</td>
             
                  </tr>
                {%endfor%}
            </tbody>
          </table>
        </div>
{% endblock %}